/* +++++++++++++++++ common +++++++++++++++++ */
:root {
  /* color */
  --red-color: #ff0000;
  --white-color: #ffffff;
  --black-color: #030303;
  --blue-color: #095ed4;
  --light-gray-color: #ececec;
  --medium-gray-color: #7e7e7e;
  --dark-gray-color: #606060;

  /* font-size */
  --logo-size: 1.5rem;
  --XLarge-size: 1.4rem;
  --Large-size: 1.2rem;
  --medium-size: 1rem;
  --small-size: 0.8rem;

  /* size */
  --video-player-size: 100%;
  --user-size: 2.6rem;

  /* space */
  --Large-space: 0.7rem;
  --medium-space: 0.5rem;
  --small-space: 0.3rem;

  /* flex box 비율 */
  --flex-left: 1 1 80%;
  --flex-right: 1 1 20%;
  /* upNext */
  --upNext-img: 1 1 35%;
  --upNext-info: 1 1 60%;
  --upNext-i: 1 1 5%;
  --upNext-max-img: 10rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nanum Gothic', sans-serif;
  cursor: pointer;
}

ul {
  list-style: none;
}

hr {
  border: none;
  height: 1px;
  background-color: var(--light-gray-color);
}

button {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}

a {
  text-decoration-line: none;
}
/* +++++++++++++++++ header +++++++++++++++++ */
header {
  display: flex;
  justify-content: space-between;
  padding: var(--Large-space);
  align-items: center;
}
header .logo {
  flex: var(--flex-left);
  font-size: var(--logo-size);
}
header .logo i {
  color: var(--red-color);
}
header .icons {
  flex: var(--flex-right);
  text-align: right;
}
.icons i {
  font-size: var(--XLarge-size);
  padding-left: var(--medium-space);
}
/* +++++++++++++++++ video player +++++++++++++++++ */
.videoPlayer {
  position: sticky;
  top: 0;
  text-align: center;
  background: var(--black-color);
}
.videoPlayer video {
  width: var(--video-player-size);
  height: var(--video-player-size);
  max-height: 20rem;
  max-width: 80rem;
}
/* +++++++++++++++++ video info +++++++++++++++++ */
.videoInfo {
  padding: var(--Large-space);
}
/* metadata */
.info__metadata {
  display: flex;
  justify-content: space-between;
}
.info__metadata .title {
  font-size: var(--Large-size);
  font-weight: bold;
  padding-bottom: var(--medium-space);
}
.videoInfo .hitsAndDays {
  font-size: var(--medium-size);
  color: var(--medium-gray-color);
}
/* HashTags */
.info__tags {
}
/* icons */
.info__icons {
  display: flex;
  justify-content: space-around;
  padding-top: var(--medium-space);
}
.info__icons button {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info__icons button i {
  padding-left: var(--medium-space);
  font-size: var(--Large-size);
  color: var(--dark-gray-color);
}
.info__icons button i.active {
  color: var(--black-color);
  font-weight: bold;
}
.info__icons button span {
  padding: var(--small-space);
  font-size: var(--small-size);
  color: var(--dark-gray-color);
}
/* channel info */
.info__channel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--medium-space);
}
.info__channel .channel {
  flex: var(--flex-left);
  display: flex;
  align-items: center;
}
.info__channel .user {
  width: var(--user-size);
  height: var(--user-size);
  border-radius: 50%;
}
.info__channel .channel__name {
  display: flex;
  flex-direction: column;
  margin-left: var(--medium-space);
}
.info__channel .channel__name .name {
  font-weight: bold;
  padding-bottom: var(--small-space);
}
.info__channel .channel__name .subscribers {
  font-size: var(--small-size);
  color: var(--dark-gray-color);
}
.info__channel .buttons {
  flex: var(--flex-right);
  text-align: right;
  color: var(--dark-gray-color);
  font-size: var(--Large-size);
}
.info__channel .buttons button {
  font-size: var(--Large-size);
  color: var(--dark-gray-color);
  padding-right: var(--small-space);
}
/* +++++++++++++++++ recommendation video list +++++++++++++++++ */
.upNext {
  padding: var(--Large-space);
}
.upNext ul {
  display: grid;
}
.upNext .next {
  display: flex;
  padding: var(--small-space);
}
.upNext .next .img {
  flex: var(--upNext-img);
  max-width: var(--upNext-max-img);
  max-height: var(--upNext-max-img);
}
.upNext .next .img img {
  width: 100%;
  height: 100%;
}
.upNext .next .info {
  flex: var(--upNext-info);
  display: flex;
  flex-direction: column;
  padding: var(--small-space) var(--medium-space);
}
.upNext .next .info .title {
  font-size: var(--medium-size);
  font-weight: bold;
}
.upNext .next .info .name {
  font-size: var(--small-size);
  color: var(--dark-gray-color);
}
.upNext .next .info .hitsAndDays {
  font-size: var(--small-size);
  color: var(--dark-gray-color);
}
.upNext .next .i {
  flex: var(--upNext-i);
  padding: var(--small-space) var(--medium-space);
}

/* +++++++++++++++++ media query +++++++++++++++++ */
@media only screen and (min-width: 768px) {
  .upNext ul {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (min-width: 992px) {
  .upNext ul {
    grid-template-columns: repeat(3, 1fr);
  }
}
