/* +++++++++++++++++ common +++++++++++++++++ */
:root {
  /* color */
  --red-color: #ff0000;
  --white-color: #ffffff;
  --black-color: #030303;
  --blue-color: #095ed4;
  --light-gray-color: #ececec;
  --medium-gray-color: #7e7e7e;
  --dark-gray-color: #606060;

  /* font-size */
  --logo-size: 1.5rem;
  --XLarge-size: 1.4rem;
  --Large-size: 1.2rem;
  --medium-size: 1rem;
  --small-size: 0.8rem;

  /* size */
  --video-player-width: 70vw;
  --video-player-small: 45vh;
  --video-player-medium: 45vh;
  --video-player-large: 60vh;
  --user-size: 2.6rem;

  /* space */
  --Large-space: 0.7rem;
  --medium-space: 0.5rem;
  --small-space: 0.3rem;

  /* flex box 비율 */
  --flex-left: 1 1 70%;
  --flex-right: 1 1 30%;
  --flex-main-left: 1 1 60vw;
  --flex-main-right: 1 1 40vw;

  /* video common */
  --video-common-info: 1 1 95vw;
  --video-common-i: 1 1 5vw;

  /* videoList */
  --video-list-img: 1 1 40vw;
  --video-list-infoAndIcon: 1 1 60vw;
  --video-list-img-width: 155px;
  --video-list-img-height: auto;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nanum Gothic', sans-serif;
  cursor: pointer;
}

ul {
  list-style: none;
}

hr {
  border: none;
  height: 1px;
  background-color: var(--light-gray-color);
}

button {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}

a {
  text-decoration-line: none;
}

.displayNone {
  display: none;
}

/* +++++++++++++++++ header +++++++++++++++++ */
header {
  display: flex;
  justify-content: space-between;
  padding: var(--Large-space);
  align-items: center;
}
header .logo {
  flex: var(--flex-left);
  font-size: var(--logo-size);
}
header .logo i {
  color: var(--red-color);
}
header .icons {
  flex: var(--flex-right);
  text-align: right;
}
.icons i {
  font-size: var(--XLarge-size);
  padding-left: var(--medium-space);
}
/* +++++++++++++++++ video Area(main) +++++++++++++++++ */
main {
  display: flex;
  flex-direction: row;
}
main .videoArea {
  flex: var(--flex-main-left);
}
main .videoList {
  flex: var(--flex-main-right);
}
main .videoArea {
  flex: var(--flex-main-left);
}
main .videoList {
  flex: var(--flex-main-right);
}
.videoPlayer {
  position: static;
}
/* +++++++++++++++++ video player +++++++++++++++++ */
.videoPlayer {
  position: sticky;
  top: 0;
  text-align: center;
  background: var(--black-color);
  aspect-ratio: 16 / 9; /* 16:9 비율 지정 */
}
.videoPlayer iframe {
  width: 100%;
  height: 100%;
}
/* +++++++++++++++++ video info +++++++++++++++++ */
.videoInfo {
  padding: var(--Large-space);
}
/* metadata */
.videoInfo .metadata {
  display: flex;
  justify-content: space-between;
}
.videoInfo .metadata .title {
  font-size: var(--Large-size);
  font-weight: bold;
  padding-bottom: var(--medium-space);
}
.videoInfo .metadata .moreBtn {
  height: 100%;
}
.videoInfo .metadata .moreBtn.clicked {
  transform: rotate(180deg);
}
.videoInfo .hitsAndDays {
  font-size: var(--medium-size);
  color: var(--medium-gray-color);
}
/* icons */
.videoInfo .icons {
  display: flex;
  justify-content: space-around;
  padding-top: var(--medium-space);
}
.videoInfo .icons button {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.videoInfo .icons button i {
  padding-left: var(--medium-space);
  font-size: var(--Large-size);
  color: var(--dark-gray-color);
}
.videoInfo .icons button i.active {
  color: var(--black-color);
  font-weight: bold;
}
.videoInfo .icons button span {
  padding: var(--small-space);
  font-size: var(--small-size);
  color: var(--dark-gray-color);
}
/* channel info */
.videoInfo .channelArea {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: var(--medium-space);
  padding-bottom: calc(var(--Large-space) * 2);
}
.videoInfo .channelArea .info {
  flex: var(--flex-left);
  display: flex;
  align-items: center;
}
.videoInfo .channelArea .info .user {
  width: var(--user-size);
  height: var(--user-size);
  border-radius: 50%;
}
.videoInfo .channelArea .info .channel {
  display: flex;
  flex-direction: column;
  margin-left: var(--medium-space);
}
.videoInfo .channelArea .info .channel .name {
  font-weight: bold;
  padding-bottom: var(--small-space);
}
.videoInfo .channelArea .info .channel .subscribers {
  font-size: var(--small-size);
  color: var(--dark-gray-color);
}
.videoInfo .channelArea .buttons {
  flex: var(--flex-right);
  text-align: right;
  color: var(--dark-gray-color);
  font-size: var(--Large-size);
}
.videoInfo .channelArea .buttons button {
  font-size: var(--Large-size);
  color: var(--dark-gray-color);
  padding-right: var(--small-space);
}
.videoInfo .description {
  margin-left: calc(var(--Large-space) * 4.5);
  line-height: calc(var(--medium-space) * 2.5);
}
.videoInfo .description .info.clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
.videoInfo .description button {
  font-size: var(--small-size);
  color: var(--dark-gray-color);
}
/* +++++++++++ video list&item common +++++++++++ */
.next .img img {
  width: 100%;
  height: 100%;
}
.next .infoAndIcon {
  display: flex;
}
.next .infoAndIcon .info {
  display: flex;
  flex-direction: column;
}
.next .infoAndIcon .info .title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.next .infoAndIcon .info .title {
  font-size: var(--medium-size);
  font-weight: bold;
}
.next .infoAndIcon .info .name {
  font-size: var(--small-size);
  color: var(--dark-gray-color);
}
.next .infoAndIcon .info .hitsAndDays {
  font-size: var(--small-size);
  color: var(--dark-gray-color);
}
/* +++++++++++++++++ video list +++++++++++++++++ */
.videoList {
  padding: var(--Large-space);
}
.videoList ul {
  display: block;
}
.videoList .next {
  display: flex;
  padding: var(--small-space);
}

.videoList .next .img {
  flex: var(--video-list-img);
  aspect-ratio: 16 / 9; /* 16:9 비율 지정 */
}
.videoList .next .infoAndIcon {
  flex: var(--video-list-infoAndIcon);
}
.videoList .next .infoAndIcon .info {
  flex: var(--video-common-info);
  padding: var(--small-space) var(--medium-space);
}
.videoList .next .infoAndIcon i {
  flex: var(--video-common-i);
  padding: var(--small-space) var(--medium-space);
}
/* +++++++++++++++++ video item +++++++++++++++++ */
.videoItem {
  padding: var(--Large-space);
}
.videoItem ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.videoItem .next {
  padding: var(--small-space);
}
.videoItem .next .img {
}
.videoItem .next .infoAndIcon {
}
.videoItem .next .infoAndIcon .info {
  flex: var(--video-common-info);
}
.videoItem .next .infoAndIcon i {
  flex: var(--video-common-i);
}

/* +++++++++++++++++ media query +++++++++++++++++ */
@media only screen and (max-width: 992px) {
  main {
    flex-direction: row;
  }
  .videoList ul {
    display: block;
  }
  .videoItem ul {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media only screen and (max-width: 768px) {
  main {
    flex-direction: column;
  }
  .videoList ul {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .videoItem ul {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 576px) {
  .videoList ul {
  }
  .videoItem ul {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 480px) {
  .videoList ul {
  }
  .videoItem ul {
    grid-template-columns: repeat(1, 1fr);
  }
}
