/* +++++++++++++++++ common +++++++++++++++++ */
:root {
  /* color */
  --red-color: #ff0000;
  --white-color: #ffffff;
  --none-white-color: #f8f8f8;
  --light-gray-color: #ececec;
  --medium-gray-color: #7e7e7e;
  --dark-gray-color: #606060;
  --black-color: #030303;
  --loading-color: #aeaeae;
  --search-border-color: #cccccc;
  --blue-color: #095ed4;

  /* size */
  --thumbnail-small: 15rem;
  --XXXLarge-size: 2rem;
  --XXLarge-size: 1.6rem;
  --XLarge-size: 1.4rem;
  --Large-size: 1.2rem;
  --medium-size: 1rem;
  --small-size: 0.8rem;

  /* space */
  --XLarge-space: 1em;
  --Large-space: 0.6em;
  --medium-space: 0.4em;
  --small-space: 0.2em;

  /* media query */
  --media-query-large: 992px;
  --media-query-medium: 768px;
  --media-query-small: 576px;

  /* video Detail */
  --video-detail-left: 1 1 70%;
  --video-detail-right: 1 1 30%;

  /* video-player size */
  --video-player-large: 30rem;
  --video-player-medium: 25rem;
  --video-player-small: 20rem;

  /* channel info */
  --channel-info-left: 1 1 70%;
  --channel-info-right: 1 1 30%;
  --user-size: 2.6rem;

  /* video Item */
  --video-item-left: 1 1 30%;
  --video-item-right: 1 1 70%;
}
